<div class="container mx-auto">
    <div class="sm:max-w-6xl mx-auto">
        <h2 class="text-xl font-semibold my-4">Top Stocks News</h2>
        <div class="flex justify-between items-center mt-6">
            <button class="mx-1 text-gray-500 rounded" (click)="previousSlide()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-6 h-6">
                    <polyline points="15 18 9 12 15 6"></polyline>
                </svg>
            </button>
            <div class="flex gap-4">
                <div class="w-72 sm:w-64 hover:scale-110 bg-white border border-gray-200 rounded-lg shadow-[rgba(0,_0,_0,_0.25)_0px_25px_50px_-12px]"
                    *ngFor="let news of visibleNewsList">
                    <a class="block h-full" href="{{ news.url }}" target="_blank">
                        <div class="h-32 rounded overflow-hidden">
                            <img [src]="news.banner_image" alt="News Banner" class="w-full h-full object-cover" />
                        </div>
                        <div class="p-4 flex flex-col justify-between h-48">
                            <div class="mb-2 text-lg font-bold tracking-tight text-gray-800">{{ news.source }}</div>
                            <div class="mb-3 text-sm font-normal text-gray-700 text-justify">{{
                                truncateSummary(news.title) }}</div>
                            <div class="text-gray-400 text-xs">{{ getNewsAge(news.time_published) }}</div>
                        </div>
                    </a>
                </div>
            </div>
            <button class="mx-1 text-gray-500 rounded" (click)="nextSlide()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-6 h-6">
                    <polyline points="9 18 15 12 9 6"></polyline>
                </svg>
            </button>
        </div>
    </div>
</div>