<div class="relative isolate overflow-hidden bg-gray-900 py-2 sm:py-4 min-h-screen">
    <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl"
        aria-hidden="true">
        <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20"
            style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
        </div>
    </div>
    <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu"
        aria-hidden="true">
        <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20"
            style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
        </div>
    </div>
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="mx-auto max-w-2xl lg:mx-0">
            <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">About Us</h2>
            <p class="mt-6 text-lg leading-8 text-gray-300 text-justify">Welcome to JuStock! Our web app is your
                ultimate resource
                for all things related to stocks.
                JuStock is the ultimate resource for comprehensive and real-time stock information, empowering you to
                stay informed and make confident decisions in today's fast-paced financial markets.<br>
                At JuStock, we understand the importance of making well-informed investment decisions. That's why our
                platform presents analytical and statistical data in a visually appealing and intuitive manner. Our
                user-friendly interface and sleek design ensure a seamless experience as you explore key stock
                information.<br>
                JuStock caters to both seasoned investors and beginners, delivering accurate insights by collecting data
                from reliable sources and utilizing advanced algorithms for stock prices, historical performance, market
                trends, and more.<br>
                Join thousands of satisfied users who rely on JuStock for their stock market research and analysis.
                Start harnessing the power of data-driven investment decisions with JuStock today.</p>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full rounded-lg"
                src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-2.png"
                alt="office content 1">
            <img class="mt-4 w-full lg:mt-10 rounded-lg"
                src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-1.png"
                alt="office content 2">
        </div>
    </div>


    <!-- <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:mx-0">
            <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">About Us</h2>
            <p class="mt-6 text-lg leading-8 text-gray-300">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure
                qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.</p>
        </div>
        <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none">
            <div
                class="grid grid-cols-1 gap-x-8 gap-y-6 text-base font-semibold leading-7 text-white sm:grid-cols-2 md:flex lg:gap-x-10">
                <a href="#">Open roles <span aria-hidden="true">&rarr;</span></a>
                <a href="#">Internship program <span aria-hidden="true">&rarr;</span></a>
                <a href="#">Our values <span aria-hidden="true">&rarr;</span></a>
                <a href="#">Meet our leadership <span aria-hidden="true">&rarr;</span></a>
            </div>
            <dl class="mt-16 grid grid-cols-1 gap-8 sm:mt-20 sm:grid-cols-2 lg:grid-cols-4">
                <div class="flex flex-col-reverse">
                    <dt class="text-base leading-7 text-gray-300">Offices worldwide</dt>
                    <dd class="text-2xl font-bold leading-9 tracking-tight text-white">12</dd>
                </div>
                <div class="flex flex-col-reverse">
                    <dt class="text-base leading-7 text-gray-300">Full-time colleagues</dt>
                    <dd class="text-2xl font-bold leading-9 tracking-tight text-white">300+</dd>
                </div>
                <div class="flex flex-col-reverse">
                    <dt class="text-base leading-7 text-gray-300">Hours per week</dt>
                    <dd class="text-2xl font-bold leading-9 tracking-tight text-white">40</dd>
                </div>
                <div class="flex flex-col-reverse">
                    <dt class="text-base leading-7 text-gray-300">Paid time off</dt>
                    <dd class="text-2xl font-bold leading-9 tracking-tight text-white">Unlimited</dd>
                </div>
            </dl>
        </div>
    </div> -->
</div>